RewriteEngine on

RewriteRule ^(robots\.txt|favicon\.ico)$ - [L]

RewriteCond     %{REQUEST_FILENAME} !-d
RewriteCond     %{REQUEST_FILENAME} !-f
RewriteCond     %{REQUEST_FILENAME} !-l

RewriteRule     .*			./index.php/$0 [L,NC,QSA]